<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device List</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Device List</h1>
    <ul>
        {% for device in devices %}
            {% if device.id is defined %}
                <li><a href="{{ url_for('device_details', device_id=device.id) }}">Device {{ device.id }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
